{% extends 'base.html.twig' %}

{% block body %}

    {% embed '_components/search_bar.html.twig' %}{% endembed %}
    {% embed '_components/back_to_top_button.html.twig' %}{% endembed %}

    {# List #}
    <div class="gap-4">
        <div class="grid grid-cols-4 gap-4">
            {% for pokemon in pokemon %}
                <a href="{{ path('show_single_pokemon', {'id': pokemon.id}) }}"
                   class="lazy flex flex-col items-center {% if pokemon.list == 'F' %} bg-green-100 hover:bg-green-200 {% elseif pokemon.list == 'Jumbo' %} bg-red-100 hover:bg-red-200 {% else %} bg-white hover:bg-gray-100 {% endif %} border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    {% if config.getUseLocalCards() == 'true' %}
                        <img class="lazy object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                             data-src="/images/pokemon/{{ pokemon.getUniqueIdentifierV2() }}.png"
                             alt="{{ pokemon.name }}"
                             onerror="this.onerror=null; this.src='/images/placeholder/card_placeholder.png';">
                    {% else %}
                        <img class="lazy object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                             data-src="{{ pokemon.url }}" alt="{{ pokemon.name }}"
                             onerror="this.onerror=null; this.src='/images/placeholder/card_placeholder.png';">
                    {% endif %}

                    <div>
                        <div class="flex flex-col justify-between p-4 leading-normal">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ pokemon.name }}</h5>
                        </div>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Serie: {{ pokemon.serie }}</p>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Serie number: {{ pokemon.serie_nr }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% embed '_components/lazy_loading_js.html.twig' %}{% endembed %}
{% endblock %}