<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <title>{% block title %}Pokesite{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
    <h1 class="flex items-center justify-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Robbin's Personal Pokesite</h1>

    <div class="flex items-center justify-center">
        <a href="{{ path('show_final_pokemon') }}">
            <button type="button" class="header-button">
                Final list
            </button>
        </a>

        <a href="{{ path('show_all_pokemon') }}">
            <button type="button" class="header-button">
                Complete list
            </button>
        </a>

        <a href="{{ path('show_missing_pokemon') }}">
            <button type="button" class="header-button">
                Missing
            </button>
        </a>

        <a href="{{ path('show_unique_missing_pokemon') }}">
            <button type="button" class="header-button">
                Missing unique
            </button>
        </a>
    </div>

    {% if config.getIsSuperActionsEnabled() == 'true' %}
        <div class="flex items-center justify-center">
            <a href="{{ path('upload_file') }}">
                <button type="button" class="header-button">
                    Upload file
                </button>
            </a>
        </div>
    {% endif %}
        {% block body %}{% endblock %}
    </body>

    {% block javascripts %}
    {% endblock %}
</html>
